<div class="container-fluid" id="loginSessionsContainer">
	<div class="wrapper wrapper-p-2">
		<h1 class="title-medium">جلسات تسجيل الدخول</h1>
		<p class="desc">جميع عمليات تسجيل الدخول مع معلومات الاجهزة.</p>
	</div>
	<div class="inner-wrapper wrapper-p-2 mt-4">
		<div id="pagination" class="flex flex-center my-3"></div>
		<div class="table-nav">
			<button class="btn btn-danger btn-sm" id="deleteSelectedBTN">حذف</button>
			<div class="form-group mt-2">
				<input type="text" class="input-text input-text-outline" id="searchInput" placeholder="بحث...">
			</div>
		</div>
		<div class="table-div">
			<table class="table table-stripped table-hover" id="tableElement">
				<thead>
					<th id="selectAllBTN">تحديد الكل</th>
					<th>اسم</th>
					<th>الولاية</th>
					<th>الجهاز</th>
					<th>آخر دخول</th>
				</thead>
				<tbody>
					<!--
					<tr>
						<td>
							<input type="checkbox" class="form-check-input" data-role="CHECK" data-deviceid>
						</td>
						<td>name</td>
						<td>state</td>
						<td>mac</td>
						<td>date</td>
					</tr>
					-->
				</tbody>
			</table>
		</div>
	</div>
</div>