

	<script type="text/javascript" src="../assets/js/include/Globals.js"></script>
	<script type="text/javascript" src="assets/js/popper.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/pagination.js"></script>
	<script type="text/javascript" src="assets/js/include/classes.js"></script>
	<script type="text/javascript" src="assets/js/include/functions.js"></script>
	<script type="text/javascript" src="assets/js/include/Dialogs.js"></script>
	<script type="text/javascript" src="assets/js/FileSaver.min.js"></script>
	<script type="text/javascript" src="assets/js/jspdf.umd.min.js"></script>
	<script type="text/javascript" src="assets/js/xlsx.core.min.js"></script>
	<script type="text/javascript" src="assets/js/tableExport.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>