<div class="navbar-container text-align-r" id="sideNavbarContainer">
	<div class="wrapper">
		<ul class="nb-navmenu" id="nbNavMenu">
			<li>
				<a href="views/pages/login-sessions.ejs" class="active" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/login-form.png" alt="">
					</span>
					<span class="text">تسجيلات الدخول</span>
				</a>
			</li>
			<li>
				<a href="views/pages/waiting-approvals.ejs" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/waiting.png" alt="">
					</span>
					<span class="text">حسابات بانتظار الموافقة</span>
				</a>
			</li>
			<li>
				<a href="views/pages/provider-trials.ejs" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/trial.png" alt="">
					</span>
					<span class="text">الفترات التجريبية</span>
				</a>
			</li>
			<li>
				<a href="views/pages/import-transactions.ejs" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/transaction.png" alt="">
					</span>
					<span class="text">استيراد المعاملات</span>
				</a>
			</li>
			<li>
				<a href="views/pages/import-blacklist.ejs" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/blacklist.png" alt="">
					</span>
					<span class="text">استيراد القوائم السوداء</span>
				</a>
			</li>
			<li>
				<a href="views/pages/settings.ejs" data-role="NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/settings.png" alt="">
					</span>
					<span class="text">اعدادات</span>
				</a>
			</li>
			<li>
				<a href="../index.ejs" data-role="LOGOUT_NAV_LINK">
					<span class="icon">
						<img src="assets/img/navbar/logout.png" alt="">
					</span>
					<span class="text">تسجيل الخروج</span>
				</a>
			</li>
			<!--
			<li class="nm-dropdown">
				<a href="#" data-role="NAV_LINK">
					<span class="text"></span>
				</a>
				<ul class="nm-dropdown-menu">
					<li>
						<a href="views/pages/absences-register.ejs" data-role="NAV_LINK">
							<span class="text">Absences</span>
						</a>
					</li>
				</ul>
			</li>
			-->
		</ul>
	</div>
</div>